.navigation {
    width: 100%;
    max-width: 100%;
    height: 60px;
    background-color: rgb(65, 4, 136);
    position: absolute;
    z-index: 11;
    color: #fff;
    .navigationTitle {
        position: absolute;
        left: 10%;
        font-weight: 900;

     line-height: 60px;

    }
    .navigationUsername{
      display: flex ;
      justify-content: flex-end;
      align-items: center;
      line-height: 50px;
      padding-right: 50px;
      font-size: 32px;
      cursor: pointer;
    }
}